.title {
  animation: fadeInUp 1.2s ease forwards;
}

.fade {
  opacity: 0;
  animation: fadeInUp 1.2s ease forwards;
  animation-delay: .4s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
